/* Debugging */
/* * {
    border: 1px dotted red;
    margin: -1px;
} */

/* GENERAL STUFF */

body {
    font-family: "Open Sans", sans-serif;
}

#chart {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#tooltip {
    background: #ffffff;
    box-shadow: 0 0 5px #cccccc;
    color: #1a1a1a;
    font-size: 16px;
    left: 130px;
    padding: 20px;
    position: absolute;
    text-align: center;
    z-index: 10;
    display: none;
    opacity: 0;
}

.legend {
    cursor: pointer;
}
